<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BioFit"
        tools:targetApi="tiramisu"
        android:localeConfig="@xml/locales_config"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.StartActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.BioFit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.RegisterSuccessfullyActivity" />
        <activity android:name=".ui.activity.InfoUserNameActivity" />
        <activity android:name=".ui.activity.InfoUserGenderActivity" />
        <activity android:name=".ui.activity.InfoUserBirthdayActivity" />
        <activity android:name=".ui.activity.InfoUserHeightAndWeightActivity" />
        <activity android:name=".ui.activity.InfoUserTargetActivity" />
        <activity android:name=".navigation.MainActivity" />
        <activity android:name=".ui.activity.ExerciseActivity" />
        <activity android:name=".ui.activity.UpdateWeightActivity" />
        <activity android:name=".ui.activity.AddActivity" />
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity android:name=".ui.activity.CaloriesTargetActivity" />
        <activity android:name=".navigation.OverviewActivity" />
        <activity android:name=".ui.activity.TrackActivity" />
        <activity android:name=".ui.activity.OverviewExerciseActivity" />
        <activity android:name=".ui.activity.CreatePlanningActivity" />
        <activity android:name=".ui.activity.CalorieTodayActivity" />
        <activity android:name=".ui.activity.MealsListActivity" />
        <activity android:name=".ui.activity.EditExerciseActivity" />
        <activity android:name=".ui.activity.ExerciseViewActivity" />
        <activity android:name=".ui.activity.KnowledgeVideoActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.TargetActivity" />
        <activity android:name=".ui.activity.AIChatbotActivity" />
        <activity android:name=".ui.activity.CaloriesDistributionActivity" />
        <activity android:name=".ui.activity.UpdateExerciseActivity" />
        <activity android:name=".ui.activity.CreateFoodActivity" />
        <activity android:name=".ui.activity.FoodDetailActivity" />
        <activity android:name=".ui.activity.MealsDetailActivity" />
        <activity android:name=".ui.activity.CreateExerciseActivity" />
        <activity android:name=".ui.activity.UpgradeActivity" />
        <activity android:name=".ui.activity.TOUAndPPActivity" />
        <activity android:name=".ui.activity.ForgotPasswordActivity"/>
        <activity android:name=".ui.activity.PaymentWebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="biofit" android:host="payment" android:path="/callback" />
            </intent-filter>
        </activity>
    </application>

</manifest>